/* fonts */
@font-face {
  font-family: 'Didot';
  src: url('../font/didot.ttf');
}
@font-face {
  font-family: 'GillSans';
  src: url('../font/gillsans.ttf');
}
@font-face {
  font-family: 'Hoefler Text';
  src: url('../font/hoefler_text.ttf');
}
@font-face {
  font-family: 'Marion';
  src: url('../font/marion.ttf');
}

/* base */
* {
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  color: #333333
}

body {
  /*max-width: 1024px;*/
}

.result-box {
  /*visibility: hidden;*/
}

.result {
  border: 0;
  margin-top: 5px;
  min-width:100%;
}

.result:focus {
  outline-width: 0;
}

h1 {
  margin-top:10px;
  margin-bottom:10px;
}

.suggestion {
  cursor: pointer;
  border-radius: 5px;
  background-color:#4c8fda;
  color: white;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}

.l-suggestion {
  line-height: 2em;
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

.suggestion:hover {
  background-color:#7ac0eb;
  color: white;
}

.suggestion-main {
  margin-top: 5px;
}